# Node files
#===========

node_modules/

# Production file
#=================

dist/

# Confidential datas
#===================

src/data/about.jsx
src/data/projects.jsx
src/data/skills.jsx
src/data/data.js
src/data/personal.js

# CV file
#=========

public/CV.pdf