.pdfScreen {
  text-align: center;
}

.pdfErrorText {
  text-align: center;
  line-height: 1.8;
}

.pdfErrorText a {
  border: 2px solid rgb(164, 164, 164);
  border-radius: 5px;
  padding: 3px 7px;
}

@media (min-width: 1444px) {
    .pdfScreen {
        justify-self: center;
        width: 70vw;
        max-width: 1100px;
    }
}
